@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #191919;
}

.react-player{
    width: 100% !important;
    height: 30vh !important;
}
@media screen and (min-width:1024px) {
    .react-player{
        width: 65vw !important;
        height: 60vh !important;
    } 
}